---

- name: Check if gcc-arm-none-eabi is already installed
  command: which gcc-arm-none-eabi
  register: gcc_check
  ignore_errors: true

- name: Install gcc-arm-none-eabi
  become: true
  package:
    name: gcc-arm-none-eabi
    state: present
  when:
    - (ansible_os_family == 'Debian' or ansible_os_family == 'RedHat')
    - gcc_check.rc != 0
